*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #f0f0f0;
  margin:40px;
 
}

header{
  display: flex;
  justify-content:space-between;
  
}
header button{
  width: 90px;
  height: 40px;
  background-color: white;
  border: 1px solid seagreen;
  border-radius: 5px;
  font-size: 18px;
  color:seagreen;
  cursor: pointer;
}

  /* /banner part/ */
  .banner{
    background-color:#C6E4D6;
    border-radius: 10px;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 50px;
  }
  .banner-container{
    margin:30px;
    margin-top: 80px;
   padding:  20px 20px;
  }
  p{
    color:grey;
  }
  .banner-container h1{
    margin-top: 15px;
  }
  .banner-container button{
    height: 50px;
    width: 80%;
    background-color: #006A50;
    border-radius: 5px;
    color:white ;
    border: none;
    outline: none;
    margin-top: 20px;
  }

  .banner img{
   width: 500px;
   height: 350px;
  }

  /* card section */
  .card-section{
    margin-top: 80px;
  }
  .heading{
    margin-left: 20px;
  }
  .cards{
    display:flex;
    margin-top: 20px;
    
  }
  .card{
    
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 10px grey;
    padding: 20px 20px;
    
  }
  .card p {
    margin-top: 20px;
    line-height: 25px;
  }